@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik+Bubbles&family=Rubik+Spray+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-outline-blue {
    -webkit-text-stroke: 2 px #005981;
}

.font-outline-violet {
    -webkit-text-stroke: 2px #ab47bc;
}
.font-outline-red {
    -webkit-text-stroke: 2px #cd0045;
}
